[Desktop Entry]
Name=Spotify (Electron)
Path=/home/USERNAME/projects/spotify-electron-app
Exec=npm start
Icon=/home/USERNAME/projects/spotify-electron-app/icon.png
Terminal=false
Type=Application
Categories=Utility;
